@model SiPA.Web.Data.Entities.Parishioner

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Feligres</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.CivilStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.CivilStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.ReceivedSacraments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.ReceivedSacraments)
        </dd>
        <dt>
            Sacramentos
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacraments.Count)
        </dd>
    </dl>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="AddSacrament" asp-route-id="@Model.Id" class="btn btn-primary">Agregar Sacramento</a>
    <a asp-action="Index" class="btn btn-success">Volver a la Lista</a>

</div>

<h4>Sacramentos</h4>
@if (Model.Sacraments.Count == 0)
 {
     <h5>Aun no ha agregado Sacramentos</h5>
 }
 else
 {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sacraments.FirstOrDefault().SacramentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sacraments.FirstOrDefault().Parishioner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sacraments.FirstOrDefault().CreatedAt)
                </th>
                <th></th>
            </tr>
        </thead>
    <tbody>
        @foreach (var item in Model.Sacraments)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parishioner.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="EditParishioner" asp-route-id="@item.SacramentId" class="btn btn-warning">Editar</a>
                <a asp-action="DetailsParishioner" asp-route-id="@item.SacramentId" class="btn btn-info">Detalles</a>
                <a asp-action="DeleteParishioner" asp-route-id="@item.SacramentId" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        }
    </tbody>
    </table>
 }
