@model SiPA.Web.Data.Entities.Parishioner

@{
    ViewData["Title"] = "Details";
}

<h2>Feligrés</h2>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horinzontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
    </dl>
</div>
@Html.ValidationSummary()
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="AddChristening" asp-route-id="@Model.Id" class="btn btn-primary">Bautizo</a> |
    @Html.ValidationMessageFor(Model => Model.Christenings)

    <a asp-action="AddFirstCommunion" asp-route-id="@Model.Id" class="btn btn-primary">Primera Comunión</a> |
    <a asp-action="AddConfirmation" asp-route-id="@Model.Id" class="btn btn-primary">Confirmación</a>
    <a asp-action="Index" class="btn btn-success">Volver a la Lista</a>
</div>

@if (Model.Christenings.Count == 0)
{
    <h4>No hay Bautizo Agregado.</h4>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Christenings.FirstOrDefault().BaptizedParents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Christenings.FirstOrDefault().BaptizedGodParents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Christenings.FirstOrDefault().CeremonialCelebrant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Christenings.FirstOrDefault().ChristeningDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Christenings.FirstOrDefault().SacramentType.SacramentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Christenings.FirstOrDefault().Comments)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Christenings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BaptizedParents)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BaptizedGodParents)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CeremonialCelebrant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChristeningDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SacramentType.SacramentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        <a asp-action="EditChristening" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                        <a asp-action="DetailsChristening" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Borrar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.FirstCommunions.Count == 0)
{
    <h4>No hay registros de Primera Comunión </h4>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstCommunions.FirstOrDefault().ParishionerParents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstCommunions.FirstOrDefault().CeremonialCelebrant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstCommunions.FirstOrDefault().FirstCommunionDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstCommunions.FirstOrDefault().SacramentType.SacramentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstCommunions.FirstOrDefault().Comments)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstCommunions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParishionerParents)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CeremonialCelebrant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstCommunionDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SacramentType.SacramentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        <a asp-action="EditFirstCommunion" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                        <a asp-action="DetailsFirstCommunion" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Borrar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Confirmations.Count == 0)
{
    <h4>No hay Confirmación registrada </h4>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmations.FirstOrDefault().ConfirmedParents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmations.FirstOrDefault().CeremonialCelebrant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmations.FirstOrDefault().ConfirmationDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmations.FirstOrDefault().SacramentType.SacramentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmations.FirstOrDefault().Comments)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Confirmations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConfirmedParents)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CeremonialCelebrant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConfirmationDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SacramentType.SacramentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        <a asp-action="EditConfirmation" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                        <a asp-action="DetailsConfirmation" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Borrar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<partial name="_DeleteDialog" />

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Parishioners/DeleteChristening/' + item_to_delete;
            });
        });
    </script>
}
