@model IEnumerable<SiPA.Web.Data.Entities.Parishioner>

@{
    ViewData["Title"] = "Index";
}

<h1>Feligreses</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.CivilStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.Identification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.ReceivedSacraments)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.CivilStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Identification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.ReceivedSacraments)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
