@model IEnumerable<SiPA.Web.Data.Entities.Request>

@{
    ViewData["Title"] = "Index";
}

<h1 class="page-header"><i class="fa fa-exchange"></i> Solicitudes</h1>

<p>
    <a asp-action="AddRequest" class="btn btn-success"> Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parishioner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.Parishioner != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Parishioner.User.FirstName)
                </td>
            }
            else
            {
                <td></td>
            }

            @if (item.RequestType != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.RequestType.Name)
                </td>
            }
            else
            {
                <td></td>
            }

            @if (item.RequestDate != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
            }
            else
            {
                <td></td>
            }

        <td>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
            <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Borrar</button>
        </td>
        </tr>
}
    </tbody>
</table>

<partial name="_DeleteDialog" />

@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Requests/Delete/' + item_to_delete;
            });
        });
    </script>
}