@model IEnumerable<SiPA.Web.Data.Entities.Request>

@{
    ViewData["Title"] = "Index";
}

<h1 class="page-header"><i class="fa fa-exchange"></i> Solicitudes</h1>


<div class="row">
    <a href="@Url.Action("Index", "Request", new { id = "Pendientes" })">
        <div class="cambiar">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-edit fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <h3>@ViewBag.Pendientes</h3>
                                <div>Pendientes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Index", "Request", new { id = "Impresas" })">
        <div class="cambiar">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-print fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <h3>@ViewBag.Impresas</h3>
                                <div>Impresas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Index", "Request", new { id = "Enviadas" })">
        <div class="cambiar">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-send fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <h3>@ViewBag.Enviadas</h3>
                                <div>Enviadas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Index", "Request", new { id = "Finalizadas" })">
        <div class="cambiar">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-close fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <h3>@ViewBag.Finalizadas</h3>
                                <div>Finalizadas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Solicitudes @ViewBag.titulo
                <div class="pull-right">
                    @Html.ActionLink("Pendientes", "Index", new { id = "Pendientes" }) |@Html.ActionLink("Impresas", "Index", new { id = "Impresas" }) |@Html.ActionLink("Enviadas", "Index", new { id = "Enviadas" })
                </div>
            </div>

            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover table-condensed display" id="">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Solicitante
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Fecha de Solicitud
                            </th>
                            <th>
                                Fecha de Impresión
                            </th>
                            <th>
                                Impreso Por
                            </th>
                            <th>
                                Fecha de Envío
                            </th>
                            <th>
                                Enviado Por
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-gear"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">

                                            @if (item.PrintedBy == null)
                                            {
                                                <li>
                                                    <a href="@Url.Action("Imprimir", "Request", new { id = item.Id }, null)"><i class="fa fa-print fa-fw"></i> Imprimir</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Finalizar", "Request", new { id = item.Id }, null)"><i class="fa fa-close fa-fw"></i> Finalizar</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="@Url.Action("Enviar", "Request", new { id = item.Id }, null)"><i class="fa fa-send fa-fw"></i> Enviar</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Parishioner.User.FirstName) @Html.DisplayFor(modelItem => item.Parishioner.User.LastName) @Html.DisplayFor(modelItem => item.Parishioner.User.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CertificatesTypes.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestDate)
                                </td>
                                @if (item.PrintedBy != null)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrintingDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrintedBy)
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }
                                @if (item.SentBy != null)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShippingDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SentBy)
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }

                                <td>
                                    <a asp-action="DetailsRequest" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

